:root {
  --primary: #f99d1c;
}


.navbar {
  padding: 0.8rem 0;
}

.navbar .nav-link {
  margin: 0 8px;
  transition: all 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: var(--primary) !important;
  transform: scale(1.05);
}


.navbar-toggler {
  border: none;
}


.hero-section {
  position: relative;
  min-height: 80vh;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  filter: brightness(65%);
}

.hero-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 2rem;
}

.hero-title {
  font-size: clamp(1.8rem, 3.5vw, 3rem);
  font-weight: 700;
  text-shadow: 0 6px 20px rgba(0, 0, 0, 0.45);
  margin-bottom: 1rem;
}

.hero-sub {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #f5f6fa;
}


section {
  padding: 90px 0;
}

section.bg-light {
  background-color: #f9fbfd !important;
}

/* Responsive  */
@media (max-width: 992px) {
  .navbar .nav-link {
    margin: 0.3rem 0;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .hero-section {
    min-height: 60vh;
  }

  .hero-title {
    font-size: clamp(1.3rem, 5vw, 2rem);
  }

  .hero-sub {
    font-size: clamp(0.8rem, 3vw, 1rem);
  }
}
