:root {
  --primary:  #f99d1c;
  --muted: #6c757d;
  --bg: #f7f7f7;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", system-ui, sans-serif;
  color: #222;
  background: #fff;
  line-height: 1.7;
}


.navbar { padding: 0.8rem 0; }
.navbar .nav-link { color: #333 !important; margin: 0 6px; }
.navbar .nav-link:hover, .nav-link.active { color: var(--primary) !important; }


.bg{background-image: url('../PIMAGES/aboutback.jpg'); background-repeat:no-repeat; background-size: cover;}




.hero-section {
  background: linear-gradient(to bottom, #f4f7fb 70%, transparent), 
              url('../PIMAGES/aboutback1.jpg'); bottom :center/cover no-repeat;
  padding: 180px 20px 250px;
}

.hero-title {
  font-size: 3.2rem;
  font-family: 'Playfair Display', serif;
}

.hero-line {
  width: 80px;
  height: 4px;
  background-color: #ff9900;
  border-radius: 2px;
}

.hero-sub {
  max-width: 800px;
  color: #555;
}

.hero-btn {
  background-color: #ff9900;
  color: #fff;
  padding: 14px 40px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background-color: white;
  color: #ff9900;
  border: 2px solid #ff9900;
}

