
.heading {
  text-align: center;
  color: #454343;
  font-size: 28px;
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
  z-index: 999;
}
.white-heading {
  color: #ffffff;
}
.heading:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  transform: translateX(-50%);
  /* background: url("img/heading-line.png") no-repeat center; */
}
.white-heading:after {
  background: url("https://i.ibb.co/d7tSD1R/heading-line-white.png") no-repeat center;
}

.heading span {
  font-size: 16px;
  display: block;
  font-weight: 500;
}
.white-heading span {
  color: #ffffff;
}

.testimonial {
  min-height: 280px; 
  position: relative;
  background: url('../PIMAGES/phto.jfif') center/cover no-repeat;
  padding: 40px 0;
  
  
  

}
/*.testimonial:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: url("img/testimonial.bg-top.png") no-repeat center top;
  background-size: 100% 70px;
  width: 100%;
  height: 70px;
  z-index: 99;
}*/


#testimonial4 .carousel-inner:hover {
  cursor: grab;
}
#testimonial4 .carousel-inner:active {
  cursor: grabbing;
}

.testimonial4_indicators .carousel-indicators {
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 16px;
  bottom: 10px;
  padding: 0 5px;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
}
.testimonial4_indicators .carousel-indicators li {
  width: 12px;
  height: 12px;
  border: none;
  margin: 2px 4px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.testimonial4_indicators .carousel-indicators .active {
  background-color: #f99d1c;
}


.testimonial4_control_button .carousel-control {
  top: 50%;
  width: 40px;
  height: 40px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  background: transparent;
  transition: 0.3s ease;
}
.testimonial4_control_button .carousel-control:hover {
  background: #fff;
  color: #000;
}
.testimonial4_control_button .carousel-control.left {
  left: 5%;
}
.testimonial4_control_button .carousel-control.right {
  right: 5%;
}


.testimonial4_header {
  text-align: center;
  margin-bottom: 30px;
}
.testimonial4_header h4 {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.testimonial4_slide {
  width: 70%;
  margin: auto;
  text-align: center;
}
.testimonial4_slide img {
  width: 100px; 
  height: 100px;
  margin: 0 auto 20px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
}
.testimonial4_slide p {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  margin: 15px 0;
}
.testimonial4_slide h4 {
  color: #f99d1c;
  font-size: 18px;
  margin-top: 5px;
  font-weight: 600;
}

.testimonial .carousel {
  padding-bottom: 40px;
}



@media (max-width: 768px) {
  .testimonial4_slide {
    width: 90%;
  }
  .testimonial4_slide img {
    width: 80px;
    height: 80px;
  }
  .testimonial4_slide p {
    font-size: 14px;
  }
  .testimonial4_header h4 {
    font-size: 22px;
  }
}
